<section class="article">
  <div class="container-40" *ngIf="article">
    <div class="article__time">
      <fa-icon class="article__icon" [icon]="faClock"></fa-icon>
      <p>{{article?.time}} minute</p>
    </div>
    <h1>{{article?.libelle}}</h1>
    <div class="article__content" *ngIf="article?.description !== null" [innerHTML]="article?.description | safeHtml"></div>

    <ng-container *ngIf="article?.description === null">
      <ng-container *ngFor="let child of article?.childrens">
        <h2>{{child?.libelle}}</h2>
        <div class="article__content" [innerHTML]="child?.description | safeHtml"></div>
      </ng-container>
    </ng-container>
  </div>
</section>
<app-article-navigation [article]="article" [articleParent]="articleParent"></app-article-navigation>
