.article{
  min-height: calc(100vh - 189.5px);
  padding-bottom: 80px;

  &__time{
    display: flex;
    margin-bottom: 10px;
  }

  &__icon{
    margin-right: .5rem;
  }

  &__content{
    margin-top: 1rem;
  }
}
