.feedback-container {
  margin-top: 1rem;
  background-color: #f6f6f6;
  padding: 1.2rem;
  border-radius: 8px;
  transform: translateY(100px);
  transition: transform 0.4s ease-in-out;
  opacity: 0;

  h4{
    margin-top: 0;
  }

  h5{
    margin: 0;
  }
}

.is-correct{
  transform: translateY(130px);
}

.show-feedback{
  transform: translateY(0);
  opacity: 1;
}
