<div class="feedback-container is-correct show"
     [ngClass]="{'show-feedback': qcmService.getShowFeedback() | async }">
  <ng-container *ngIf="isUserCorrect === false">
    <h5>Dommage ! :(</h5>
  </ng-container>
  <ng-container *ngIf="isUserCorrect === true">
    <h5>Bravo ! :)</h5>
  </ng-container>
</div>

<div class="feedback-container show"
  [ngClass]="{'show-feedback': qcmService.getShowFeedback() | async }">
  <h4>Article {{ feedback?.question?.questionArticle?.libelle }}</h4>

  <ng-container *ngIf="feedback?.question?.feedback">
    <h5>Feedback :</h5>
    <div [innerHTML]="feedback?.question?.feedback | safeHtml"></div>
  </ng-container>
</div>
