:root {
  --muted-color: rgba(255, 255, 255, 0.8);
  --black-blue: #020C18;
  --dark-blue: #041832;
  --light-blue: #092B4D;
  --refpath-blue: rgb(8, 56, 139);
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --font-xxl: 26px;
  --font-hero: 128px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
  --font-dm-sans: 'DM Sans', sans-serif;
}

.container{
  width: 100%;
  max-width: 100%;
}

.container-80{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.p-rl-1{
  padding: 0 var(--space-3);
}


a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: 100%/1.5 var(--font-dm-sans);
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  transition: all 0.15s ease-in-out;

  &:hover{
    transform: scale(1.05);
  }
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin: 0 0 var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}

button{
  border: none;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 8px 24px;
}

.mt-2{
  margin-top: var(--space-2);
}

.button-primary{
  background: var(--refpath-blue);
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  color: #fff !important;
  margin-top: 10px;
}

.bullet-point{
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #ccc;
}

.error{
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  font-size: 1rem;
  margin-top: -.25rem;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 1rem;
  border-radius: 5px;
  width: 368px;
  max-width: 100%;
}
