@use '@angular/material' as mat;
@include mat.core();
$refpath-primary: mat.define-palette(mat.$indigo-palette);
$refpath-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$refpath-warn: mat.define-palette(mat.$red-palette);
$refpath-theme: mat.define-light-theme((
  color: (
    primary: $refpath-primary,
    accent: $refpath-accent,
    warn: $refpath-warn,
  )
));
@include mat.all-component-themes($refpath-theme);
@include mat.core();
$green-palette: (
  50: #E8F6E8,
  100: #C9E9C5,
  200: #A8DA9F,
  300: #86CB79,
  400: #6BC05C,
  500: #01CE77FF,
  600: #49AB39,
  700: #3F9F30,
  800: #358228,
  900: #237E1A,
  A100: #8CFFEF,
  A200: #36DF6D,
  A400: #5AFE3D,
  A700: #4FFE30,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #FFFFFF,
    A400: #FFFFFF,
    A700: #FFFFFF,
  )
);

@import "base";

section{
  background-color: #fff;
  position: relative;
  margin-top: 80px;
}

.section-no-header {
  margin-top: 0;
}

h1{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  color: var(--dark-blue);
}

.container-80{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
}

.container-40{
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
}

.card-learn{
  width: 100%;
  max-width: 100%;
  height: 500px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;

  &__image{
    width: 500px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 1rem;
  }

  &__articles{
    font-weight: 600;

    span{
      font-weight: 400;
      color: #737373;
    }
  }

  &__reprendre{
    background-color: var(--refpath-blue);
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
  }
}

.card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    background-color: #f4f4f4;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
  }
}

.mat-mdc-form-field-error{
  font-size: .8rem;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.title-retour{
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100%;
}

.regles{
  margin-bottom: 3rem;
}

.icon-sizer{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  width: 100%;
  animation: loading 1s infinite;
  margin-top: 1rem;

  &__title{
    width: 100px;
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 20px;
  }

  &__subtitle{
    width: 150px;
    height: 10px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 1rem;
  }

  &__content{
    width: 100%;
    height: 250px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 1rem;
  }
}

@keyframes loading{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.soon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 2.2rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.form-error{
  background-color: #ffe4e6;
  border-color: #fecdd3;
  color: #9f1239;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-width: 0 0 1px;
  margin-bottom: 1rem;
  width: 100%;

  .error-wrapper{
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: .8rem;

    &:first-child{
      margin-top: 0;
    }

    .icon{
      margin-right: 5px;
    }
  }

  &:last-of-type{
    border-bottom-width: 2px;
    margin: 0;
  }
}
