<div class="answer">
  <div class="answer-input-wrapper"
       #wrapper
       *ngFor="let choice of choices"
       (click)="checkAnswer(choiceInput, wrapper)"
       [ngClass]="{
          'correct': isCorrectAnswer === true && selectedChoices.has(choice.value)
          || isChoiceCorrect(choice.value) && selectedChoices.has(choice.value),
          'wrong': isCorrectAnswer === false && selectedChoices.has(choice.value) && !isChoiceCorrect(choice.value),
          'was-answer': isCorrectAnswer !== null && isChoiceCorrect(choice.value) && !selectedChoices.has(choice.value)
        }">
    <span>{{choice.value}}</span>
    <input #choiceInput type="checkbox" id="{{choice.value}}" name="answer{{choice.value}}">
    <label>{{choice.choice}}</label>
  </div>
</div>

<div class="question-footer">
  <div class="question-footer-right">
    <a class="question-button"
       *ngIf="!isValidate"
            (click)="submitAnswer()"
            [ngClass]="{'disabled': selectedChoices.size === 0}">
      <fa-icon [icon]="faCheck"></fa-icon> Valider mes réponses
    </a>
    <a *ngIf="isValidate && !isLastQuestion" class="question-button" (click)="nextQuestion()">
      Question suivante <fa-icon [icon]="faArrowRight"></fa-icon>
    </a>
    <a *ngIf="isValidate && isLastQuestion" class="question-button" (click)="viewResults()">
      Voir mes résultats <fa-icon [icon]="faArrowRight"></fa-icon>
    </a>
  </div>
</div>
