.answer {
  margin-top: 1.5rem;


  .answer-input-wrapper {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border: 2px solid #cccccc;
    cursor: pointer;
    z-index: 10;
    transition: all 0.2s ease-in-out;

    label{
      cursor: pointer;
    }

    span {
      margin-right: 10px;
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-bottom: calc(-2px);
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      border-color: var(--refpath-blue);
    }
  }


  .answer-input-wrapper:hover:not(:last-child) ~ .answer-input-wrapper {
    border-top-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: -1;
  }

  .answer-input-wrapper.checked {
    color: #fff;
    background-color: var(--refpath-blue);
    border-color: transparent;
    transform: scale(1.025);
    border-radius: 8px !important;
  }
}


.question-footer{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;

  .question-button{
    width: 100px;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--refpath-blue);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

.wrong{
  background-color: #f2f2f2 !important;
  color: rgb(115, 115, 115) !important;

  label{
    text-decoration: line-through;
  }
}


.correct{
  background-color: #38836d !important;
}

.was-answer{
  border-color: #38836d !important;
  color: #38836d !important;
}
