.entrainement{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  &__card{
    width: 320px;
    height: 80px;
    display: flex;
    background-color: #bbc6dc;
    padding: 1rem;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  &__card__icon{
    background-color: #a3afc5;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon{
      color: #383f50;
    }
  }

  &__card__info{
    h2{
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
    }

    p{
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
  }

  &__card_blocked{
    background-color: #bbc6dc;
    cursor: not-allowed;
    opacity: 0.5;

    &:hover{
      transform: scale(1);
    }
  }
}

.qcm-avg{
  display: flex;
  align-items: center;
  font-weight: 500;

  span{
    margin-left: .5rem;
  }
}

.qcm-history{
  margin-top: 2rem;
  margin-bottom: 2rem;

  .btn-voir-plus{
    background-color: #bbc6dc;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #383f50;
    margin-top: 1rem;
    display: block;
    text-align: center;
  }
}
