<section>
  <div class="container-80">
    <h1>Entrainement :</h1>
    <div class="entrainement">
      <a class="entrainement__card" (click)="generateQcm()">
        <div class="entrainement__card__icon">
          <fa-icon class="entrainement__card__icon__icon" [icon]="faBolt"></fa-icon>
        </div>

        <div class="entrainement__card__info">
          <h2>Série de questions <fa-icon class="icon-title" [icon]="faArrowRight"></fa-icon> </h2>
          <p>20 Questions : vidéos et code de jeu.</p>
        </div>
      </a>

      <a class="entrainement__card entrainement__card_blocked">
        <div class="entrainement__card__icon">
          <fa-icon class="entrainement__card__icon__icon" [icon]="faStar"></fa-icon>
        </div>

        <div class="entrainement__card__info">
          <h2>Série à thème <fa-icon class="icon-title" [icon]="faArrowRight"></fa-icon> </h2>
          <p>Série de questions relatives à une règle</p>
        </div>
      </a>

      <a class="entrainement__card entrainement__card_blocked">
        <div class="entrainement__card__icon">
          <fa-icon class="entrainement__card__icon__icon" [icon]="faVideo"></fa-icon>
        </div>

        <div class="entrainement__card__info">
          <h2>Questions vidéo <fa-icon class="icon-title" [icon]="faArrowRight"></fa-icon> </h2>
          <p>20 Questions vidéos</p>
        </div>
      </a>
    </div>
  </div>

  <div class="container-80">
    <h1>Derniers entraînements :</h1>
    <p class="qcm-avg">
      <fa-icon [icon]="faChartLine"></fa-icon>
      <span>{{avg}} / 20</span>
    </p>
    <div class="qcm-history">
      <ng-container *ngFor="let qcm of qcms">
        <app-qcm-history *ngIf="qcm.is_completed"  [qcm]="qcm"></app-qcm-history>
      </ng-container>

      <a class="btn-voir-plus" (click)="nextPage()">Voir plus</a>
    </div>
  </div>
</section>
