.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  display: block;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  position: relative;

  &__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 40px;
    width: 60px;

    &__icon{
      font-size: 1.3rem;
    }

    &:hover{
      background-color: #e38181;
    }
  }

  &__header{
    margin-top: 2rem;
    text-align: center;
  }

  &__content{
    margin-top: 2rem;
    text-align: center;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 1rem;

    &__icon{
      margin-right: 5px;
    }

    h2{
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1rem;
      text-align: start;

      span{
        font-weight: 400;
        color: #737373;
        margin-left: 10px;
      }
    }
  }

  &__article-icon{
    display: flex;
    align-items: center;
    width: calc(100% - 60px);

    &__icon{
      color: var(--refpath-blue);
      margin-right: 12px;
      font-size: 1.3rem;
    }

    .bullet-point{
      margin-right: 12px;
    }

    p{
      font-weight: 400;
      text-align: start;
    }
  }

  &__article{
    display: flex;
    flex-direction: column;

    &__wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 40px;
      padding: 1rem;
      cursor: pointer;

      &:hover{
        background-color: #f4f4f4;
      }
    }

    &__time{
      font-weight: 400;
    }
  }
}
