<div class="modal-wrapper" *ngIf="modalOpen">
  <div class="modal">
    <a class="modal__close" (click)="closeModal()">
      <fa-icon class="modal__close__icon" [icon]="faTimes"></fa-icon>
    </a>
    <div class="modal__body">
      <div class="modal__header">
        <h1>{{article.libelle}}</h1>
      </div>
      <div class="modal__content">
        <h2><fa-icon class="modal__content__icon" [icon]="faBookMark"></fa-icon> Article <span>{{article.nb_of_child_learned}}/{{article.childrens.length}}</span></h2>
        <div class="modal__article">
          <a routerLink="/reglement/{{article.id}}/{{child.id}}" class="modal__article__wrapper" *ngFor="let child of article.childrens">
            <div class="modal__article-icon">
              <div class="icon-sizer" *ngIf="!child.is_learned">
                <div class="bullet-point"></div>
              </div>
              <fa-icon class="modal__article-icon__icon" [icon]="faCheck" *ngIf="child.is_learned"></fa-icon>
              <p>{{child.libelle}}</p>
            </div>
            <p class="modal__article__time">{{child.time}} min</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
