<div *ngIf="qcm.is_completed" class="qcm-note-wrapper" routerLink="/entrainement/{{qcm?.id}}/result">
    <div class="qcm-note">
      <p class="date">{{qcm?.date | date:'dd/MM/yyyy'}}</p>
      <p class="note">Note: {{qcm?.note}} / 20</p>
    </div>
</div>
