.qcm-note-wrapper{
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  cursor: pointer;

  .qcm-note{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
  }

  .date{
    font-size: .8rem;
    color: #000;
    font-weight: 300;
  }
}
