<div style="display: block;">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [legend]="lineChartLegend"
          [plugins]="lineChartPlugins"
          [type]="lineChartType"
          [options]="lineChartOptions">
  </canvas>
</div>
