<section>
  <div class="container-80">
    <div class="card-top">
      <h1>Le règlement :</h1>

      <a routerLink="/reglement/toutes-les-regles">Toutes les règles</a>
    </div>

    <div class="card-learn">
      <img class="card-learn__image" src="./assets/images/bb-court.png" alt="bb-court">
      <div class="card-learn__content">
        <h2>Règle Un - La Rencontre</h2>
        <div class="card-learn__articles">
          Article <span>1/3</span>
        </div>
        <a routerLink="/reglement/4/1" class="card-learn__reprendre">Reprendre</a>
      </div>
    </div>
  </div>

  <div class="container-80 interpretation-prochainement">
    <div class="card-top">
      <h1>Les interprétations :</h1>

      <a href="#">Toutes les interprétations</a>
    </div>

    <div class="card-learn">
<!--      <img class="card-learn__image" src="./assets/images/bb-court.png" alt="bb-court">-->
      <p class="soon">Prochainement...</p>
      <div class="card-learn__content">
        <h2>Article 4 - Les équipes</h2>
        <div class="card-learn__articles">
          Article <span>0/5</span>
        </div>
        <a class="card-learn__reprendre">Commencer</a>
      </div>
    </div>
  </div>
</section>

