<section>
  <div class="container-80">
    <div class="title-retour">
      <app-go-back class="go-back"></app-go-back>
      <h1>Toutes les règles</h1>
      <p>Retrouvez ici les 8 grandes règles du code de jeu</p>
    </div>

    <div class="regles">
      <app-regles *ngFor="let regle of regles" [regle]="regle"></app-regles>

      <ng-container *ngFor="let _ of nbOfSquare">
        <div *ngIf="loading" class="loading">
          <div class="loading__title"></div>
          <div class="loading__subtitle"></div>
          <div class="loading__content"></div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<app-modal-article></app-modal-article>
