.container-80{
  padding: 0;
}

.question-container{
  display: flex;
  width: 100%;

  .question-wrapper{
    width: 62%;
    margin-right: 10px;
    padding-left: 1rem;
  }
  .answer-wrapper{
    width: 36%;
    padding: 2rem;

    .question-nb{
      font-size: 1.5rem;
      font-weight: bold;
    }

    .question-theme{
      background-color: #383f50;
      padding: 5px 15px;
      border-radius: 20px;
      width: fit-content;
      color: #fff;
      font-weight: 500;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;

    .question-wrapper, .answer-wrapper{
      width: 100%;
      padding: 0 1rem;
    }
  }
}
