<section>
  <div class="container-80">
    <div class="question-container">
      <div class="question-wrapper">
        <app-question
          [question]="qcmService.getCurrentQuestion()"
          [questionIndex]="currentQuestionIndex"
          (answered)="qcmService.goToNextQuestion()">
        </app-question>
      </div>
      <div class="answer-wrapper">
        <p class="question-nb">Question {{currentQuestionIndex + 1}}/20</p>
        <div>
          <app-feedback
            [feedback]="qcmService.getAnswerResponse()">
          </app-feedback>
        </div>
      </div>
    </div>
  </div>
</section>
