footer{
  background-color: var(--black-blue);
  width: 100%;
  max-width: 100%;
  position: relative;
}

.container-footer{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footer-col-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 5rem 0;

  .footer-col{
    width: 25%;
    color: #fff;

    .footer-title{
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 20px;
    }

    a{
      font-weight: 400;
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
    }
  }
}


.bottom-info{
  padding: 2rem 0;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 9px;
  color: #fff;
}

.bottom-links a{
    margin-right: 30px;
}

.bottom-socials a{
    margin-left: 30px;
}
