<footer>
<!--  <div class="container-80 container-footer">
    <div class="bottom-info">
      <div class="bottom-links">
        <a href="#">Noecode &bullet; 2023</a>
        <a href="#">RGPD</a>
        <a href="#">Mentions légales</a>
        <a href="#">Contact</a>
      </div>
      <div class="bottom-socials">
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
      </div>
    </div>
  </div>-->
</footer>
