<section>
    <div class="result-header">
      <app-go-back class="go-back" [url]="'/entrainement'"></app-go-back>

      <div class="result-container">
        <div class="result-wrapper">
          <div class="result-wrapper__note">
            <span *ngIf="!loading">{{qcm?.note}}</span>
            <div *ngIf="loading" class="loading"></div>
            <p>sur 20</p>
          </div>
        </div>

        <div class="container-80 result-correction">
          <h1>Bien joué !</h1>

          <div class="result-correction__wrapper">
            <div class="correction">
              <h2>Question 1</h2>
              <p>Première question</p>
              <fa-icon [icon]="faChevronRight" class="correct"></fa-icon>
            </div>

            <div class="correction seconde">
              <h2>Question 2</h2>
              <p>Deuxième question</p>
              <fa-icon [icon]="faChevronRight" class="correct"></fa-icon>
            </div>

            <div class="correction troisieme">
              <h2>Question 3</h2>
              <p>Troisième question</p>
              <fa-icon [icon]="faChevronRight" class="correct"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
