.result-header{
  background-color: rgba(8, 56, 139, 0.45);
  height: 150px;
  position: relative;

  .go-back{
    top: 40%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
  }
}


.result-container{
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 85%;

  .result-wrapper{
    position: relative;

    &__note{
      background-color: rgb(16, 51, 108);
      border-radius: 50%;
      width: 150px;
      height: 150px;
      color: #fff;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span{
        font-weight: 600;
        font-size: 5rem;
        line-height: .9;
        text-align: center;
      }

      p{
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

.result-correction{
  margin-top: 3rem;

  h1{
    text-align: center;
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem;

    .correction{
      opacity: .8;
      max-width: 600px;
      width: 100%;
      padding: .75rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 20px;
      margin-top: 1rem;

      &.seconde{
        opacity: .4 !important;
      }

      &.troisieme{
        opacity: .2 !important;
      }
    }
  }
}
