.profil-wrapper{
  display: flex;
}

.profil-nav{
  min-width: 300px;

  .nav-title{
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.profil-content{
  display: flex;
  flex-direction: column;
  width: 100%;

  .statistiques{
    max-width: 600px;
  }
}

.informations-form{
  &__row{
    .mat-mdc-form-field{
      &:first-child{
        margin-right: 5px;
      }

      &:last-child{
        margin-left: 5px;
      }
    }
  }
}
