<section>
  <div class="container-80">
    <div class="profil-wrapper">
      <div class="profil-nav">
        <p class="nav-title">Mon compte</p>

      </div>
      <div class="profil-content">
        <h1>Profil</h1>
        <div class="informations">
          <h2>Informations</h2>
          <div class="informations-form">
            <form [formGroup]="form">
              <div class="informations-form__row">
                <mat-form-field appearance="outline">
                  <mat-label>Nom</mat-label>
                  <input matInput type="text" formControlName="nom">
                  <mat-error *ngIf="form?.get('nom')?.invalid && form?.get('nom')?.touched">
                    Veuillez saisir un nom valide
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Prénom</mat-label>
                  <input matInput type="text" formControlName="prenom">
                  <mat-error *ngIf="form?.get('prenom')?.invalid && form?.get('prenom')?.touched">
                    Veuillez saisir un prénom valide
                  </mat-error>
                </mat-form-field>
              </div>

              <button #loginButton class="button-primary" [ngClass]="{'disabled' : form.invalid}" (click)="save()" [disabled]="form.invalid">
                <ng-container *ngIf="!loading">
                  Sauvegarder
                </ng-container>
                <ng-container *ngIf="loading">
                  <mat-spinner diameter="25"></mat-spinner>
                </ng-container>
              </button>
            </form>
          </div>
        </div>

        <div class="statistiques">
          <h2>Statistiques</h2>
          <app-chart [qcms]="qcms"></app-chart>
        </div>
      </div>
    </div>
  </div>
</section>
