<nav class="container" [ngClass]="{'scroll' : isScroll}">
  <div class="nav-container p-rl-1">
    <div class="nav-wrapper">
      <div class="nav-menu-container">
        <button class="menu-toggle" (click)="toggleMenu()">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
        <div class="nav-menu" [ngClass]="{'menu-open': menuOpen}">
          <a routerLink="/">Accueil</a>
          <a routerLink="/entrainement">S'entraîner</a>
          <a href="#">Clip</a>
        </div>
      </div>
    </div>
    <div class="nav-end">
      <ng-container *ngIf="loggedUser">
        <div class="profil-wrapper">
          <a class="mon-compte" (click)="toggleDropdown()">
            <span class="user-square">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            {{ loggedUser.userProfil.prenom }}
          </a>

          <div class="profile-dropdown" [ngClass]="{'dropdown-open': dropdown}">
            <a routerLink="/profil">Mon compte</a>
            <a href="#" (click)="logout()">Déconnexion</a>
          </div>
        </div>
      </ng-container>
      <div class="small-links-lang">
        <div class="lang-selector">
        </div>
      </div>
      <div class="search">
      </div>
    </div>
  </div>
</nav>
