<section class="login-section section-no-header">
  <div class="left">
    <h1 class="title-left">S'INSCRIRE SUR <br/>REF'PATH</h1>
  </div>
  <div class="right">
    <div class="login-form-wrapper">
      <form [formGroup]="form">
        <img src="./assets/images/refpath.png" alt="logo" class="logo">
        <h1 class="title-login">Rejoignez-nous !</h1>

        <div class="login-form-wrapper__row">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="nom">
            <mat-error *ngIf="form?.get('nom')?.invalid && form?.get('nom')?.touched">
              Veuillez saisir un nom valide
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="prenom">
            <mat-error *ngIf="form?.get('prenom')?.invalid && form?.get('prenom')?.touched">
              Veuillez saisir un prénom valide
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error *ngIf="form?.get('username')?.invalid && form?.get('username')?.touched">
            Veuillez saisir un nom d'utilisateur valide
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input matInput type="password" formControlName=confirmPassword autocomplete>
          <mat-error *ngIf="form?.get('confirmPassword')?.invalid && form?.get('confirmPassword')?.touched">
            Veuillez saisir un mot de passe valide
          </mat-error>
        </mat-form-field>

        <div class="form-error" *ngIf="error">
          <div class="error-wrapper">
            <fa-icon class="icon" [icon]="faExclamationCircle"></fa-icon>
            {{error}}
          </div>
        </div>


        <button #loginButton class="button-primary" [ngClass]="{'disabled' : form.invalid}" (click)="register()" [disabled]="form.invalid">
          <ng-container *ngIf="!loading">
            Inscription
          </ng-container>
          <ng-container *ngIf="loading">
            <mat-spinner diameter="25"></mat-spinner>
          </ng-container>
        </button>
      </form>

      <div class="divider">
        <span>ou</span>
      </div>

      <div class="no-account">
        <span>Déjà un compte ?</span>
        <a routerLink="/connexion">Connectez-vous</a>
      </div>
    </div>
  </div>
</section>
