<ng-container *ngIf="article.is_main_article">
  <div class="article-wrapper" (click)="onArticleClick(article)" [ngStyle]="article.is_learned && {'background-color' : '#ebf3f8'}">
    <div>
      <div class="article-wrapper__pills">{{article.childrens.length}} Article</div>
      <h3 class="article-wrapper__title">{{article.libelle}}</h3>
    </div>

    <div class="article-wrapper__progression">
      <div class="article-wrapper__progression__bar">
        <div class="article-wrapper__progression__bar__progress" [style]="widthOfBar"></div>
      </div>
      <span class="article-wrapper__progression__nb">{{article.nb_of_child_learned}}/{{article.childrens.length}}</span>
    </div>
  </div>
</ng-container>
