.article-wrapper{
  width: 250px;
  height: 290px;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 20px;
  margin-right: 30px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title{
    font-weight: 400;
    margin: 0;
  }

  &__pills{
    color: var(--refpath-blue);
    font-weight: 400;
    font-size: 12px;
    background-color: #e4e4e4;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: fit-content;
  }

  &__progression{
    display: flex;
    align-items: center;

    &__nb{
      font-weight: 400;
      font-size: 1rem;
      margin-left: 10px;
    }

    &__bar{
      width: 100%;
      height: 5px;
      background-color: #e4e4e4;
      border-radius: 20px;
      position: relative;

      &__progress{
        width: 0;
        height: 100%;
        background-color: var(--refpath-blue);
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
