.article-navigation{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #f4f4f4;

  &__article{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .left{
      display: flex;

      &__libelle{
        font-weight: 600;
      }

      &__nb{
        margin-left: 10px;
      }
    }

    a{
      color: var(--refpath-blue);
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  .progress{
    height: 5px;
    background-color: #e8e8e8;
    width: 100%;
    position: relative;
    z-index: 1;

    .bar{
      height: 5px;
      background-color: var(--refpath-blue);
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      border-radius: 5px;
      transition: .25s ease-in-out;
    }
  }
}
