<div class="article-navigation">
  <div class="progress">
    <div class="bar" [style]="'width:' + article?.position / articleParent?.childrens.length * 100 +  '%'"></div>
  </div>

  <div class="container-80 article-navigation__article">
    <div class="left">
      <p class="left__libelle">{{article?.libelle}}</p>
      <p class="left__nb">Article {{article?.position}}/{{articleParent?.childrens.length}}</p>
    </div>
    <div>
      <a *ngIf="articleParent?.childrens.length !== article?.position" [routerLink]="['/reglement/' + articleParent?.id + '/' + articleParent?.childrens[article?.position]?.id]" (click)="nextArticle()">Article suivant <fa-icon [icon]="faArrowRight"></fa-icon> </a>
      <a *ngIf="articleParent?.childrens.length === article?.position" [routerLink]="['/reglement/toutes-les-regles']" (click)="nextArticle()">Terminer <fa-icon [icon]="faCheck"></fa-icon> </a>
    </div>
  </div>
</div>
