.question-wrapper{
  position: relative;
  height: calc(100vh - 100px);

  .question-image{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }

  .question-video{
    width: 100%;
    height: 400px;
    border-radius: 0 0 10px 10px;
  }

  .question-theme{
    font-size: .9rem;
  }

  .question-text{
    font-size: 1.1rem;
    font-weight: bold;
  }
}
