<div class="question-wrapper">
  <img *ngIf="question?.question?.questionFile?.type === 'Photo'" class="question-image"
       src="{{question?.question?.questionFile?.file_url}}" alt="photo basket">

  <iframe *ngIf="question?.question?.questionFile?.type === 'Vidéo'"
          [src]="url"
          class="question-video" title="YouTube video player"
          allowfullscreen>

  </iframe>

  <p class="question-theme">{{question?.question?.questionArticle?.regles?.libelle}}</p>
  <div class="question-text" [innerHTML]="question?.question?.question_text | safeHtml">
  </div>

  <app-answer
    [choices]="question?.question?.questionPropositions"
    (answers)="submitAnswerAndGoToNextQuestion($event)">
  </app-answer>
</div>
