<div class="regles-wrapper">
  <p>Règle {{regle?.id}}</p>
  <h2>{{regle?.libelle}}</h2>

  <div class="articles">
    <app-regles-article *ngFor="let article of regle?.articles" [article]="article"></app-regles-article>
  </div>
</div>
