.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px 35px 15px 25px;
  background-color: var(--refpath-blue);
  color: white;
  z-index: 1;
  border-radius: 4px;
}

.notification button {
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: -12px;
  top: -2px;
  background: transparent;
}
